@font-face {
    font-family: "IR-Yek-r";
    src: url(../Font/iranyekanwebregular.ttf) format("ttf"),
        url(../Font/iranyekanwebregular.eot) format("eot"),
        url(../Font/iranyekanwebregular.woff) format("woff");
}
@font-face {
    font-family: "IR-Yek-b";
    src: url(../Font/iranyekanwebbold.ttf) format("ttf"),
        url(../Font/iranyekanwebbold.eot) format("eot"),
        url(../Font/iranyekanwebbold.woff) format("woff");

}